<form id="new-session" action="/login" method="post">
  Username: <input type="text" name="event_user["><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="login">
</form>
