<h1>MAKE A NEW EVENT</h1>
<form action='/events' method='post'>
  <input type='text' name='event[title]' placeholder='title'>
  <input type='text' name='event[location]' placeholder='location'><br>
  <input type='date' name='event[time]' placeholder='time'>
  <input type='date' name='event[deadline]' placeholder='deadline'><br>
  Minimum:
<select name = "event[minimum]">
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
</select>
  Maximum:
<select name = "event[maximum]">
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
  <option value="6">6</option>
  <option value="7">7</option>
  <option value="8">8</option>
  <option value="9">9</option>
  <option value="10">10</option>
  <option value="11">11</option>
  <option value="12">12</option>
  <option value="13">13</option>
  <option value="14">14</option>
  <option value="15">15</option>
</select><br>

<!--   <input type='text' name='event[minimum]' placeholder='minimum number of people'> -->
 <!--  <input type='text' name='event[maximum]' placeholder='maximum number of people'><br> -->
  <textarea type='description' name='event[description]' placeholder='description'></textarea><br>
  <input type='submit' name='submit'>
</form>
