<h1>MAKE A NEW EVENT</h1>
<form action='/events' method='post'>
  <input type='text' name='event[title]' placeholder='title'>
  <input type='text' name='event[location]' placeholder='location'>
  <input type='text' name='event[time]' placeholder='time'>
  <input type='text' name='event[deadline]' placeholder='deadline'>
  <input type='text' name='event[minimum]' placeholder='minimum number of people'>
  <input type='text' name='event[maximum]' placeholder='maximum number of people'>
  <input type='submit' name='submit'>
</form>
