
<form id="new-session" action="/login" method="post">
  <h1>Login</h1>
  <!-- <legend>Fruit juice size</legend> -->
  <input type="text" name="username" placeholder="  username"><br>
  <input type="password" name="password" placeholder="  password"><br>
  <input id="login-button" type="submit" value="login">
</form>
