<form id="new-user-form" action='/users' method='POST'>
  <h1 id='register-title'>Register</h1>
  <input type='text' name='user[username]' placeholder="Name"><br>
  <input type='text' name='user[email]' placeholder="Email"><br>
  <input type='password' name='user[password]' placeholder="Password"><br>
  <input type='submit' value='Create Account'>
</form>
